
<div class="prefs">
  <a href="https://tllester.info/">&larr; back to tllester.info</a>

<div class="pref-settings">


  {{ with .GetPage "search" }}
    <a href="{{ .Permalink }}" title="{{ .Title }}" class="search-button">
      <svg
      width="20"
      height="20"
      fill="currentColor"
      class="bi bi-search"
      viewBox="0 0 20 20"
      version="1.1"
      id="svg1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:svg="http://www.w3.org/2000/svg">
      <defs
      id="defs1" />
      <path
      d="m 13.960497,12.974789 a 7.7277111,8.1542663 0 1 0 -1.66443,1.756303 v 0 q 0.523107,0.125451 1.165101,0.125451 l 4.636627,4.892559 a 1.1888787,1.2545025 0 0 0 1.66443,-1.756303 l -4.636627,-4.89256 A 1.1888787,1.2545025 0 0 0 15.00671,12.974789 Z M 14.31716,8.2076799 a 6.5388325,6.8997636 0 1 1 -13.0776638,0 6.5388325,6.8997636 0 0 1 13.0776638,0"
      id="path1"
      style="stroke-width:1.22126" />
      </svg>
    </a>
  {{ end }}


{{ if .Translations }}
<div class="lang-switcher">
  <span class="lang-current">{{ .Lang | upper }}</span>
  <div class="lang-dropdown">
    {{ range .Translations }}
    <a href="{{ .Permalink }}" hreflang="{{ .Lang }}">{{ .Language.LanguageName }}</a>
    {{ end }}
  </div>
</div>
{{ end }}

<button
    type="button"
    data-theme-toggle
    aria-label="Change to light theme"
    class="theme-toggle theme-switch"
  >🌞</button>
</div>

</div>


<a class="title" href="{{ .Site.Home.RelPermalink }}" aria-label="Home">

   <img src="/lanchonete.jpg">

</a>

<nav>

  {{ $currentPage := . }}

  {{ range .Site.Menus.main }}
  <a href="{{ .URL | relLangURL }}" aria-current="page" aria-label="{{ i18n .Identifier | default .Name }}">{{ .Pre | markdownify }}{{ i18n .Identifier | default .Name }}</a>
  {{ end }}
 

</nav>


