{{- $currentLang := .Site.Language.Lang -}}
<div class="lang-switcher">
  {{- range .Site.Languages -}}
    {{- $lang := .Lang -}}
    {{- $langName := .LanguageName -}}
    {{- $hasTranslation := false -}}
    {{- $translationURL := "" -}}
    {{- range $.AllTranslations -}}
      {{- if eq .Lang $lang -}}
        {{- $hasTranslation = true -}}
        {{- $translationURL = .Permalink -}}
      {{- end -}}
    {{- end -}}
    {{- if eq $lang $currentLang -}}
      <span class="lang-btn lang-current" aria-current="true">{{ $langName }}</span>
    {{- else if $hasTranslation -}}
      <a href="{{ $translationURL }}" class="lang-btn" hreflang="{{ $lang }}">{{ $langName }}</a>
    {{- else -}}
      <span class="lang-btn lang-disabled" aria-disabled="true" title="Not available in {{ $langName }}">{{ $langName }}</span>
    {{- end -}}
  {{- end -}}
</div>
