{{ define "main" }}
    <h1>{{ .Page.Title }}</h1>
    {{ .Content }}

<div class="content">

    {{/*  <div class="post">
        {{ $fdPosts := site.GetPage "posts" }}
    {{ range $fdPosts.RegularPagesRecursive }}
    <div class="post">
    <h3><a href="{{ .Permalink }}" title="{{ .Title }}">
        {{ .Title }}</a></h3>
   <p>{{ .Summary }}</p>
    </div>
    {{ end }}

</div>  */}}
<div class="page-list">
    <h2>Pages</h2>
    {{ $fdPages := site.GetPage "pages" }}
    {{ range $fdPages.RegularPagesRecursive }}
        <h3><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h3>
    {{ end }}
</div>

<div class="post">
    {{ range sort .Pages "Date" "desc" }}
    {{ if not .Params.private }}
        <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .PublishDate.Format "Jan. 2, 2006" }} - 
            {{ .Title }}</a></h1>
        <p>{{ .Summary }}</p>
    {{ end }}
{{ end }}
</div>







</div>



{{ end }}