{{ define "main" }}

{{ $posts := where .Site.Pages "Section" "posts" }}
{{ $posts = where $posts "Kind" "page" }}

<div class="posts-grid">
  {{ range first 6 (sort $posts "Date" "desc") }}
  <article class="entry">
    {{ if .Params.coverImage }}
    <div class="entry-media">
      <a href="{{ .Permalink }}">
        <img src="/posts/images/{{ .Params.coverImage }}" alt="{{ .Title }}">
      </a>
    </div>
    {{ end }}
    <div class="entry-header">
      <div class="entry-meta">
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2 January 2006" }}</time>
      </div>
      <h2 class="entry-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    </div>
    <div class="entry-summary">
      {{ .Summary | plainify | truncate 140 }}
      <br>
      <a href="{{ .Permalink }}" class="more-link">{{ i18n "readMore" | default "Ler mais" }} &rarr;</a>
    </div>
  </article>
  {{ end }}
</div>

{{ end }}
