{{ define "main" }}
<div class="post-header">
  {{ $currentPage := . }}
  {{ range .Site.Menus.main }}
    {{ if eq .Identifier "post" }}
    <h1>      {{ .Pre | markdownify }}{{ i18n .Identifier | default .Name }}
</h1>
    {{ end }}
  {{ end }}
</div>

{{ .Title }}

  {{ .Content }}
  
  <div class="content-grid">
    {{ range (sort .Site.RegularPages "Date" "desc" (where .Site.RegularPages "Section" "posts")) }}
{{/*  {{ range (sort .Pages "Date" "desc" (where .Site.Pages ".Params.private" "!=" false))}}  */}}
            <div class="content-card">
              <a href="{{ .Permalink }}">
                 <h2 class="grid-card-title">{{ .LinkTitle }}</h2>
        {{ if and (isset .Params "image") .Params.image }}
            {{ $image := .Page.Resources.GetMatch .Params.image }}
            {{ with $image }}
                {{ $thumb := .Resize "300x" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}">
            {{end}}
                    {{ end }}
            </a>
            </div>

  {{ end }}
  </div>
{{ end }}
